<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{> "nav"}}

        {{#post}}
        {{#if author}}
            <div class="dotted-separator"></div>
            <div class="author">
                <section class="author-name">{{author.name}}</section>
                <section class="author-bio">{{author.bio}}</section>
            </div>
            <div class="dotted-separator"></div>
        {{/if}}
        {{/post}}

        {{! Social links }}
        <div class="social-icons">
            <a href="https://github.com/quangtt" class="icon icon-github"></a>
            <a href="https://www.facebook.com/quangtt2812" class="icon icon-facebook"></a>
            <a href="https://www.flickr.com/photos/quangteomedia" class="icon icon-flickr"></a>
            <a href="https://instagram.com/quangteomedia" class="icon icon-instagram"></a>
            <a href="http://tumblr.quangteomedia.com" class="icon icon-tumblr"></a>
            <a href="/rss" class="icon icon-rss"></a>
            <a href="mailto:quangtt2182@gmail.com" class="icon icon-mail"></a>
        </div>
    </header>

    {{! Site footer }}
    {{> "footer"}}
</div>
